nav a{
 
    color: aliceblue;
    
    margin-left: 80px;
    text-decoration: none;
    
   
}
.header{
    background-color: cadetblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:large;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 1px 1px gray;
   
    
}