nav a{
 
    color: aliceblue;
    
    margin-left: 80px;
    text-decoration: none;
    
   
}
.header{
    background-color: cadetblue;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size:large;
    margin-left: 20px;
    margin-right: 20px;
   
    
}